<article class="ruby_on_rails">
  <h1>Ruby on Rails Quick Setup Guide</h1>
  <br />
  <p>
    <ul>
	  <li><p>create project directory from src direction:</p><li>
	    <code>rails new app_name --database=postgresql</code>
	  <li>edit database .yml fields; username, password and host.</li>
	  <li>create initial database:</li>
	    <code>rake db:create:all</code>
	  <li>start rails server:</li>
	    <code>rails server</code>
	  <li>git setup</li>
	  	<code>git init .</code>
	  	<code>git add --all</code>
	  	<code>git commit -am "initial commit"</code>
	  <li>login to github and create a repo then:</li>
	  	<code>git remote add origin git@github.com:account/repo.git</code>
	  	<code>git push -u origin master</code>
	  <li>heroku setup</li>
	  <li>edit config/environment/production.rb:</li>
	  	<code>config.assets.compile = true</code>
	  	<code>git add --all</code>
	  	<code>git commit -am "enter short message here"</code>
	  	<code>heroku create app_name</code>
	  	<code>git push heroku master</code>
	  <li>setting up the home page</li>
	  <li>generate a controller:</li>
	  	<code>rails generate controller controller_name</code>
	  <li>*rails assumes the controller name is the plural form of the word.</li>
	  <li>create a route for root in routes.rb:</li>
	  	<code>root 'controller_name#action_name'</code>
	  <li>define the action within the controller:</li>
	  	<code>def action_name end</code>
	  <li>create the action_name view:</li>
	  	<code>app/views/controller_name/action_name.html.erb</code>
	  <li>at this point you will have a viewable homepage</li>
	  <li>setup the mode<li>
	  	<code>rails generate model model_name</code>
	  <li>*model name will be the non plural form of the controller name</li>
	  <li>this will create apps/models/model)name.rb, db/migrate/datetime_create_model_name.rb and a few other files</li>
	  <li>execute the migration file:</li>
	  	<code>rake db:migrate</code>
	  <li>this will create the database with the fields entered into the migration file.</li>
	  <li>you can view the database structure via db/schema.rb</li>
	</ul>
  </p>

</article>