<!DOCTYPE html>
<html>
<head>
  <title>Quiz1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="main_heading">
  
  <div class="flexbox">
    <div class="myshrum tiny">
      <div class="cap red"></div>
      <div class="stalk"></div>
    </div>
  </div>

  <h1>Cheat<span>Sheets</span></h1>

</header>

<%= yield %>

</body>
</html>
